[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pywin32-ctypes = "*"

[packages]
requests = "*"
psutil = "*"
watchdog = "*"
colorlog = "*"
tornado = "*"
asyncio = "*"
ipy = "*"
pathvalidate = "*"
pypakparser = "==1.2.0"
pyinstaller = "*"
packaging = "*"

[requires]
python_version = "3.7"
