altgraph==0.17.2
asyncio==3.4.3
chardet==4.0.0
colorlog==6.6.0
importlib-metadata==4.10.1; python_version < '3.8'
ipy==1.1
packaging==21.3
pathvalidate==2.5.0
psutil==5.9.0
pyinstaller-hooks-contrib==2022.0
pyinstaller==4.8
pypakparser==1.2.0
pyparsing==3.0.7
tornado==6.1
typing-extensions==4.0.1; python_version < '3.8'
watchdog==2.1.6
zipp==3.7.0
