-i https://pypi.org/simple/
altgraph==0.17
asyncio==3.4.3
certifi==2021.5.30
chardet==4.0.0
colorlog==5.0.1
idna==2.10
importlib-metadata==4.4.0
ipy==1.1
packaging==20.9
pathvalidate==2.4.1
psutil==5.8.0
pyinstaller-hooks-contrib==2021.1
pyinstaller==4.3
pypakparser==1.2.0
pyparsing==2.4.7
requests==2.25.1
tornado==6.1
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
watchdog==2.0.3
zipp==3.4.1
