@font-face {
    font-family: Roboto-Regular;
    src: url(lib/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(lib/Roboto-Light.ttf);
}
* {
    font-family: Roboto-Light;
}

body {
    color: #fff;
    background-color: rgba(50, 50, 50, 1);
}

table,
td,
th {
    border: 1px solid #fff;
    border-collapse: collapse;
    text-align: left;
    padding: 3px;
    font-size: 1em;
}

h1 {
    font-size: 1em;
}
h2 {
    word-wrap: break-word;
}
h5 {
    font-size: 1em;
    margin: 0;
    line-height: 200%;
}
#onlinePlayersRow {
    z-index: 10;
}

#onlinePlayersTable,
#offlinePlayersTable,
#saveGamesTable {
    font-size: 0.8em;
}
#saveGamesCardBody .table-responsive {
    overflow: auto;
    max-height: 425px;
}
#offlinePlayersCardBody .table-responsive,
#onlinePlayersCardBody .table-responsive {
    overflow: auto;
    max-height: 425px;
}
#banner {
    background: #17142f;
    white-space: nowrap;
    box-shadow: 0 0 30px #17142f;
    text-align: center;
    position: relative;
}
#banner .row {
    padding: 20px 0px 10px 0px;
}
#banner h1 {
    margin: 0;
}
#banner a {
    color: #fff;
}
#logo {
    width: 40px;
    border-radius: 10%;
}
#msg {
    width: 100%;
    position: absolute;
    transition: all 1s ease;
    z-index: 2;
}
#consoleText {
    overflow: auto;
    height: 250px;
}
#consoleText div:not(.warning):nth-of-type(2n) {
    background-color: rgba(30, 30, 30, 0.9);
}

#serverStatusCardBody table,
#serverStatusCardBody th,
#serverStatusCardBody td {
    border: 0px;
    border-collapse: collapse;
}

#serverStatusCardBody th {
    text-align: right;
}
#serverStatusCardBody td {
    border: 0px;
}
#githubLink {
    font-size: 3vw;
}
#bannerServerName {
    font-size: 5vw;
}
.spoiler,
.spoiler:not(:hover)::before {
    color: white;
    background-color: #0a0a0a;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s ease;
    text-align: center;
}

.spoiler {
    position: relative;
}
.spoiler:not(:hover)::before {
    text-align: center;
    content: "Hover to reveal";
    line-height: 150%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.iconInfo {
    color: green;
    width: 18px;
    padding-left: 1px;
}
.iconWarn {
    color: red;
}

.warning {
    background-color: rgba(60, 30, 30, 0.9);
}
.warning:nth-of-type(2n) {
    background-color: rgba(70, 30, 30, 0.9);
}
.card-header .collapseArrows:after {
    content: "\f107";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.card-header[aria-expanded="true"] .collapseArrows::after {
    content: "\f106";
}

.astroCard {
    z-index: 1;
    font-size: 1em;
    border-radius: 15px;
    background-color: rgba(25, 25, 25, 0.9);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.fa-download {
    cursor: pointer;
}
.fa-download:hover {
    color: #777;
}

.tippy-box[data-theme~="update"] {
    background-color: teal;
    color: white;
}
.tippy-box[data-theme~="update"] > .tippy-arrow::before {
    border-right-color: teal;
}
.activeSave .activeCell {
    background-color: lightgreen !important;
}
.activeSave {
    background-color: rgba(30, 30, 30, 0.9) !important;
}

@media (min-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    #saveGamesTable {
        font-size: 1em;
    }
    #onlinePlayersTable {
        font-size: 1em;
    }
    #offlinePlayersTable {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    #logo {
        width: 60px;
    }
    #githubLink {
        font-size: 1em;
    }
    #bannerServerName {
        font-size: 1.8em;
    }
}

@media (min-width: 880px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
}
@media (min-width: 1500px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
}

/*drop-down override*/
div.btn-group.show div.dropdown-menu.show {
    background-color: #4b4b50;
}

div.btn-group.show div.dropdown-menu.show button.dropdown-item {
    color: #e1e1e1;
}
div.btn-group.show div.dropdown-menu.show button.dropdown-item.disabled {
    background-color: transparent;
    color: #222;
}
.pBtn::before,
.sBtn:not([data-action="delete"])::before,
.sdBtn::before {
    text-align: left;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    margin-right: 5px;
    vertical-align: 1px;
}
.pBtn[data-action="kick"]:not(.disabled)::before {
    background-color: rgb(255, 123, 0) !important;
}
.pBtn[data-action="ban"]:not(.disabled)::before,
.sdBtn[data-action="delete"]:not(.disabled)::before {
    background-color: red !important;
}
.pBtn[data-action="WL"]:not(.disabled)::before,
.sdBtn[data-action="rename"]:not(.disabled)::before {
    background-color: #0f0 !important;
}
.pBtn[data-action="admin"]:not(.disabled)::before {
    background-color: #da70d6 !important;
}
.pBtn[data-action="reset"]:not(.disabled)::before {
    background-color: white !important;
}
.pBtn[data-action="remove"]:not(.disabled)::before,
.sBtn[data-action="load"]:not(.disabled)::before {
    background-color: goldenrod !important;
}

div.btn-group.show div.dropdown-menu.show button.dropdown-item:hover,
div.btn-group.show div.dropdown-menu.show button.dropdown-item:focus {
    background-color: #1e1e1e;
    color: #f0f0f0;
}
.modal-open {
    overflow-y: auto;
}
.modal-content {
    background-color: #2e2e2e;
}
