@font-face {
    font-family: Roboto-Regular;
    src: url(lib/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(lib/Roboto-Light.ttf);
}
* {
    color: #fff;
    font-family: Roboto-Light;
}

body {
    background-color: rgba(50, 50, 50, 1);
}

table,
td,
th {
    border: 1px solid #fff;
    border-collapse: collapse;
    text-align: left;
    padding: 3px;
    font-size: 1em;
}

h1 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
    margin: 0;
    line-height: 200%;
}

#banner {
    background: #17142f;
    padding: 20px 0px 10px 0px;
    margin: 0;
    white-space: nowrap;
    box-shadow: 0 0 30px #17142f;
    text-align: center;
    position: relative;
}
#banner h1 {
    margin: 0;
}
#banner a {
    color: #fff;
}
#logo {
    position: absolute;
    left: 14px;
    top: 15px;
    height: calc(100% - 30px);
    border-radius: 10%;
}
#authLink {
    position: absolute;
    right: 14px;
}

#msg {
    width: 100%;
    position: absolute;
    transition: all 1s ease;
    z-index: 2;
}
#consoleText {
    overflow: auto;
    height: 250px;
}
#consoleText div:not(.warning):nth-of-type(2n) {
    background-color: rgba(30, 30, 30, 0.9);
}
.iconInfo {
    color: green;
    width: 18px;
    padding-left: 1px;
}
.iconWarn {
    color: red;
}

.warning {
    background-color: rgba(60, 30, 30, 0.9);
}
.warning:nth-of-type(2n) {
    background-color: rgba(70, 30, 30, 0.9);
}
.card-header .collapseArrows:after {
    content: "\f107";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.card-header[aria-expanded="true"] .collapseArrows::after {
    content: "\f106";
}

.astroCard {
    z-index: 1;
    font-size: 1em;
    border-radius: 15px;
    background-color: rgba(25, 25, 25, 0.9);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.fa-download {
    cursor: pointer;
}
.fa-download:hover {
    color: #777;
}

@media (min-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3em;
    }
}
